*{
    color: #f2f4f3 !important;
}

.btn{
    padding: 5px 10px;
    text-decoration: none;
    position: relative;
    border: 2px solid rgba(242, 244, 243, 0.75);
    border-radius: 8px;
    color: #f2f4f3;
    cursor: pointer;
    transition: all 250ms linear;
    outline: none;
    text-align: center;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: fit-content;
}

.btn:hover, .btn:focus{
    border-color: rgba(141, 71, 255, 0.25);
    box-shadow: 0 0 1rem rgba(141, 71, 255, 0.25);
    background: conic-gradient(from 95.27deg at 51.3% 51.96%, #290d44 -0.95deg, #111012 62.41deg, #100c1c 134.15deg, #18042e 181.84deg, #120d1a 237.07deg, #111012 317.05deg, #250d44 359.05deg, #111012 422.41deg);
    text-shadow:
    0 0 10px #4208ca,
    0 0 20px #4208ca ;
}

.btn:hover::before,
.btn:hover::after,
.btn:focus::before,
.btn:focus::after {
    width: calc(100% - 8px);
    transition-duration: 0.75s;
}

.btn::after {
    right: 0;
    bottom: 0;
    margin-bottom: -2px;
    margin-right: 4px;
    background: linear-gradient(270deg, rgba(242, 244, 243, 0) 0%, rgba(126, 71, 255, 0.75) 10%, rgba(242, 244, 243, 0) 50%);
}

.btn::before{
    left: 0;
    top: 0;
    margin-top: -2px;
    margin-left: 4px;
    background: linear-gradient(90deg, rgba(242, 244, 243, 0) 0%, rgba(126, 71, 255, 0.75) 10%, rgba(242, 244, 243, 0) 50%);
}

.btn::before, .btn::after{
        content: "";
        width: 0;
        height: 2px;
        position: absolute;
        transition: all 250ms ease-in;
}
/* Start BTN2 */

.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: 500ms;
    border: .5s solid #8f8f8f;
    border-radius: 50px;
}

.btn2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #230075;
    bottom: -100%;
    left: 0;
    transition: 500ms ease-in-out;
    border-radius: 25%;
}

.btn2::after{
    content: "";
    position: absolute;
    width: 100%;
    height:20px;
    background-color: #230075;
    top: -100%;
    right: 0;
    transition: 500ms ease-in-out;
    border-radius: 25%;
}

.btn2:hover{
    text-shadow:
    0 0 10px #4208ca,
    0 0 20px #4208ca,
    0 0 40px #4208ca,
    0 0 80px #4208ca;
}

.btn2:hover::before{
    bottom: 0;
}

.btn2:hover::after{
    top: 0;
}

/* Start BTN3 */


.btn3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: 500ms;
    border: .5s solid #8f8f8f;
    border-radius: 50px;
}

.btn3::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #4208ca;
    bottom: 0;
    left: -100%;
    transition: 500ms ease-in-out;
    border-radius: 25%;
}

.btn3::after{
    content: "";
    position: absolute;
    width: 100%;
    height:10px;
    background-color: #4208ca;
    top: 0;
    right: -100%;
    transition: 500ms ease-in-out;
    border-radius: 25%;
}

.btn3:hover{
    text-shadow:
    0 0 10px #4208ca,
    0 0 20px #4208ca,
    0 0 40px #4208ca,
    0 0 80px #4208ca;
}

.btn3:hover::before{
    left: 0;
}

.btn3:hover::after{
    right: 0;
}
/* Start BTN4 */
.btn4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: 500ms;
    border: .5s solid #8f8f8f;
    border-radius: 20px;
}

.btn4::before{
    top: 0;
    right: 0;
}

.btn4::after{
    bottom: 0;
    left: 0;
}

.btn4::before,
.btn4::after{
    content: "";
    position: absolute;
    width: 25px;
    background-color: var(--main-c);
    transition: 1s;
    height: 0;
}

.btn4:hover::before,
.btn4:hover::after{
    height: 100%;
}